html, body {
  margin: 0;
  height: 100%;
}
body {
  padding: 20px;
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}
a {
    text-decoration: none;
}

h1 {
  color:red;
}

/* Menu */
ul#menu {
  margin-bottom: 30px;
  text-align: right;
}
ul#menu li {
  display: inline-block;
  margin-right: 20px;
}