<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>部落格</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'article/css/article.css' %}">
<link rel="icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
{% include 'main/menu.html' %}
<h1>歡迎來到我的部落格</h1>
{% include 'main/messages.html' %}
<br>
{% include 'article/articlesearchForm.html' %}
<p class="inlineBlock"><a class="btn" href="{% url 'article:articleCreate' %}">新增文章</a></p>
<br><br><hr>
{% for items in itemsList %}
  {% for item in items %}
    {% if forloop.first %}
    <h3 class="inlineBlock"><a href="{% url 'article:articleRead' item.id %}">{{ item.title }}</a></h3>
    <form class="inlineBlock" method="post" action="{% url 'article:articleDelete' item.id %}">
    {% csrf_token %}
    <input class="btn" type="submit" value="刪除">
    </form>
    <p>發表時間:{{ item.pubDateTime|date:'Y-m-d H:i' }}</p>
    <div class=articleContent>{{ item.content|linebreaks|truncatewords_html:10 }}</div>    
    <p>按讚:{{ article.likes }}</p>
    {% else %}
      <p>
        <span class=comment>{{ item.content }}</span>
        <span class=commentTime>{{ item.pubDateTime|date:'m 月 d 日 H:i'}}</span>
      </p>
    {% endif %}
   {% endfor %}
  <hr>
{% endfor %}
<br>
</body>
</html>